# React Native
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# macOS
.DS_Store

# Logs
*.log
*.log.*

# Expo
.expo/
.expo-shared/

# Android
android/
*.apk
*.keystore

# iOS
ios/
*.xcworkspace
*.xcodeproj
Pods/
Podfile.lock

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*

# Firebase cache
.firebase/

# Misc
*.idea/
.vscode/
*.swp

# EAS build
dist/
build/
eas.json
